/* PESAN SUKSES */
.alert-success {
    background: #d4edda;
    border-left: 5px solid #28a745;
    padding: 12px 18px;
    border-radius: 10px;
    color: #155724;
    margin-bottom: 18px;
    font-size: 16px;
    text-align: center;
}

/* PESAN ERROR */
.alert-error {
    background: #f8d7da;
    border-left: 5px solid #dc3545;
    padding: 12px 18px;
    border-radius: 10px;
    color: #842029;
    margin-bottom: 18px;
    font-size: 16px;
    text-align: center;
}

