body {
    background-color: #f5f7fa;
    font-family: "Poppins", sans-serif;
}

.profile-card {
    background: white;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.profile-pic {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.stat-card {
    border-radius: 16px;
    padding: 20px 10px;
    background: #ffffff;
    text-align: center;
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.12);
}

.section-box {
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
    margin-top: 30px;
}

.custom-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

footer {
    margin-top: 70px;
}

.at {
    text-align: justify;
}
