/* CARD REGISTER */
.register-card {
    background: #fff;
    padding: 45px 35px;
    border-radius: 28px;
    width: 520px;
    margin: 60px auto;
    box-shadow: 0px 10px 35px rgba(0,0,0,0.12);
}

/* TITLE */
.register-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.register-sub {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

/* INPUT */
.register-input {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    margin-bottom: 18px;
}

/* BUTTON */
.register-btn {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: none;
    background: black;
    color: white;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}
.register-btn:hover {
    opacity: 0.9;
}

/* LINK */
.register-link {
    text-align: center;
    margin-top: 12px;
}
.register-link a {
    text-decoration: none;
    color: #4a2db6;
}

