*{ 
    box-sizing: border-box; 
} 
 
/* Gaya umum untuk body */ 
body { 
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
    margin: 0; 
    padding: 0; 
} 
 
/* Gaya untuk container */ 
.container{ 
    display: flex; 
    flex-basis: wrap; 
    justify-content: center; 
} 
 
/* Gaya untuk sidebar */ 
.sidebar { 
    flex: 20%; 
    background-color: #444; 
    height: 100vh; 
} 
 
.sidebar nav ul { 
    list-style-type: none; 
    padding: 0; 
} 
 
.sidebar nav ul li {
        border-bottom: 1px dotted #5e5d5d; 
} 
 
.sidebar nav ul li a { 
    text-decoration: none; 
    color: white; 
    display: block; 
    padding: 20px 20px; 
    background-color: #444; 
    border-radius: 4px; 
    text-align: center; 
} 
 
.sidebar nav ul li a:hover { 
    background-color: #555; 
} 
 
/* Gaya untuk konten utama */ 
section.content { 
    flex: 80%; 
    padding: 20px; 
    height: 100vh; 
    overflow: scroll;    
} 
 
/* Header */ 
header { 
    background-color: #333; 
    color: #fff; 
    text-align: left; 
    padding: 15px 20px; 
} 
 
/* Tombol tambah */ 
.add-button { 
    margin-bottom: 20px; 
    text-align: left; 
} 
 
.add-button button { 
    background-color: #28a745; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 
 
.add-button button:hover { 
    background-color: #218838; 
}
/* Gaya untuk form */ 
form { 
    background-color: #fff; 
    padding: 2rem; 
    margin: 1rem 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 
 
label { 
    display: block; 
    margin-bottom: 8px; 
} 
 
input[type="text"], input[type="file"] { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 1rem; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
} 
 

 
/* Mengatur desain tombol aksi yang dibuat dengan tag <a> */ 
.tombol{ 
    display: inline-block; 
    max-width: 150px; 
    padding: 15px 30px;
        color: #fff; 
    text-decoration: none; 
    background: #038ade; 
    cursor: pointer; 
} 
 
/* Desain tombol edit dan hapus */ 
.tombol.edit, .tombol.hapus{ 
    padding: 10px 15px; 
    font-size: 12px; 
    border-radius: 4px; 
} 
.tombol.hapus{ 
    background: #fc4c4c; 
} 
 
.tombol.edit:hover { 
    background-color: #0056b3; 
} 
 
.tombol.hapus:hover { 
    background-color: #c82333; 
} 

/* HERO IMAGE */
.hero {
    height: 70vh;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}

.hero-text h1 {
    font-size: 3.5rem;
}

/* CARD HOVER */
.card {
    transition: 0.3s;
    border-radius: 15px !important;
}

.card:hover {
    transform: translateY(-5px);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero {
        height: 50vh;
    }
}

.card-img-top {
    height: 350px;         /* Semua gambar sama tinggi */
    object-fit: cover;     /* Memotong gambar agar rapi */
    border-radius: 15px;   /* Agar smooth */
}

/* Agar semua card sama tinggi */
.card {
    height: 100%;
    border-radius: 20px !important;
    overflow: hidden;
}

/* Agar isi card rata & tetap sejajar */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.faq-hero {
    background: #f7f7f7;
}

.accordion-button {
    font-weight: 600;
    font-size: 18px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-body {
    font-size: 15px;
    color: #555;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 15px !important;
}

.profile-info {
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}

.profile-box {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s ease;
}

.profile-box:hover {
    transform: translateY(-5px);
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.stats-box {
    background: #fff;
    border-radius: 12px;
    padding: 18px 10px;
}

.stats-box:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}


td:nth-child(3) {
    text-align: justify;
    max-width: 400px;      
    white-space: normal;  
    word-wrap: break-word; 
}


td img {
    max-width: 300px;
    height: auto;
}



.komentar {
    text-align: justify;
    max-width: 400px;
    white-space: normal;
    word-wrap: break-word;
}

.deskripsibuku {
    flex: 1;                
    text-align: justify;
}



