/* SEARCH BAR WRAPPER */
.search-container {
    max-width: 400px;
    margin-bottom: 25px;
}

/* BOX */
.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

/* INPUT */
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
}

/* BUTTON */
.search-box button {
    border: none;
    background: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
}

/* BUTTON HOVER */
.search-box button:hover {
    background: #333;
}

.card-img-top {
    height: 380px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

